
head{background-color:red}
body{background-color:#432651;color:blue;background-image:url("C:\\Users\\DC\\Desktop\\bhaskar.jpeg");background-repeat:no-repeat;background-position:left-top;background-attachment:fixed;background-size:40%}
table{background-color:#123654;color:green}